{% extends "psct/base/display_form.html" %}

{% load base_tags %}

{% block conteudo %}
    <h2 class="titulo">Consulta - {{ titulo }}</h2>
    <div class="row">
        <div class="col-xs-12">
            <form method="get" action="">
                {{ form }}
                <input type="submit" value="Filtrar" class="btn btn-primary pull-right">
            </form>
        </div>
    </div>
    {% if resultados %}

        <div class="table-responsive">
            <table class="table table-striped table-condensed">
                <thead>
                <tr>
                    <th class="tabela_campus relatorio">Campus</th>
                    <th class="relatorio">Total para Ajustar</th>
                    <th class="relatorio">Analisados Deferidos</th>
                    <th class="relatorio">Analisados Indeferidos</th>
                    <th class="relatorio">Pendentes de Análise</th>
                    <th class="relatorio">Total de Analisados</th>
                    <th class="relatorio">Total de Homologados</th>
                </tr>
                </thead>
                <tbody>

                {% for campus in resultados %}
                    <tr>
                        <td> {{ campus.nome }} </td>
                        <td class="relatorio"> {{ campus.ajustar }}</td>
                        <td class="relatorio"> {{ campus.analisados_deferidos }}</td>
                        <td class="relatorio"> {{ campus.analisados_indeferidos }} </td>
                        <td class="relatorio"> {{ campus.pendentes }} </td>
                        <td class="relatorio"> {{ campus.analisados }} </td>
                        <td class="relatorio"> {{ campus.homologados }} </td>
                    </tr>
                {% endfor %}

                    <tr>
                        <th class="relatorio"> TOTAL </th>
                        <th class="relatorio"> {{ ajustar }}</th>
                        <th class="relatorio"> {{ analisados_deferidos }}</th>
                        <th class="relatorio"> {{ analisados_indeferidos }} </th>
                        <th class="relatorio"> {{ pendentes }} </th>
                        <th class="relatorio"> {{ analisados }} </th>
                        <th class="relatorio"> {{ homologados }} </th>
                    </tr>

                </tbody>
            </table>
        </div>
        <span class="status status-info">A pesquisa retornou {{ resultados|length }} item(s).</span>
    {% else %}
        <p>Sem resultados.</p>
    {% endif %}


{% endblock %}