{% extends "psct/base.html" %}
{% load base_tags %}
{% block conteudo %}

    <h2 class="titulo">Extrato de vagas do {{ resultado }}</h2>
    {% for campus, cursos in campi %}
        {% box '{{ campus }}' False %}
            {% for curso, vagas in cursos %}
                <h4>{{ curso }}</h4>
                <div class="table-responsive">
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th>Cota</th>
                            <th>Vagas</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for v in vagas %}
                            <tr>
                                <td> {{ v.0 }}</td>
                                <td> {{ v.1 }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        {% endbox %}
    {% endfor %}
{% endblock %}