{% extends "base/baseboot.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block breadcrumb %}
<li><a href="/">Início</a></li>
<li><i class="fa fa-angle-right text-muted"></i></li>
<li class="active">{% trans 'Password reset confirmation' %}</li>
{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block conteudo %}
{% if validlink %}
<h2 class="titulo verde-escuro">{{ title }}</h2>
<form method="post" action="" class="form">
    <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2">
        <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
        <div class="login-panel panel panel-default">
            <div class="panel-body">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                <input type="submit" value="{% trans 'Change my password' %}" class="btn btn-primary"/>
                <input type="hidden" name="next" value="{{ next|escape }}"/>
                {% endbuttons %}
            </div>
        </div>
    </div>
</form>
{% else %}
    <p class="alert alert-danger"> <i class="fa fa-exclamation-circle fa-fw"></i> {% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
{% endif %}
{% endblock %}
