{% extends "base/baseboot.html" %}
{% load i18n form_utils %}

{% block breadcrumb %}
    <li><a href="/">{% trans 'Home' %}</a></li>
    <li><i class="fa fa-angle-right text-muted"></i></li>
    <li class="active">{% trans 'Password reset' %}</li>
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block conteudo %}
<h2 class="titulo verde-escuro">{{ title }}</h2>
<p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>

<form method="post" class="form-inline">
    {% csrf_token %}
    <div class="form-group">
        {{ form.email.label_tag }}
        {{ form.email }}
    </div>
    <input type="submit" value="{% trans 'Reset my password' %}" class="btn btn-primary" />
</form>

  <br class="clear" />
  <p><strong>Atenção:</strong> Informe o mesmo e-mail utilizado para realizar a
    inscrição do processo seletivo.</p>
  <p>Caso não se lembre com qual você se cadastrou, envie um e-mail para selecao@ifba.edu.br. No campo Assunto do e-mail insira "RECUPERAR SENHA". No corpo do e-mail insira também um número de telefone para que entremos em contato caso haja necessidade.</p>
{% endblock %}
