{% extends "base/index.html" %}
{% load staticfiles %}

{% block extrahead %}
  <style>
    #conteudo > ul {
      display: block;
      margin-top: 1em;
      margin-bottom: 1em;
      margin-left: 0;
      margin-right: 0;
      padding-left: 30px;
    }
    #conteudo > ul > li {
      list-style: outside none square;
    }
  </style>
{% endblock %}

{% block breadcrumb %}
    <li><a href="/">Início</a></li>
    <li><i class="fa fa-angle-right text-muted"></i></li>
    <li class="active">Acessibilidade</li>
{% endblock %}

{% block conteudo %}
  <h2 class="titulo">Acessibilidade</h2>
  <p class="text-justify">O termo acessibilidade significa incluir a pessoa com deficiência na participação de
    atividades como o uso de produtos, serviços e informações. Alguns exemplos são os prédios com rampas de acesso para
    cadeira de rodas e banheiros adaptados para deficientes.</p>
  <p class="text-justify">Na internet, acessibilidade refere-se principalmente às recomendações do WCAG (World Content
    Accessibility Guide) do W3C e no caso do Governo Brasileiro ao e-MAG (Modelo de Acessibilidade em Governo Eletrônico).
    O e-MAG está alinhado as recomendações internacionais, mas estabelece padrões de comportamento acessível para sites
    governamentais.</p>
  <p class="text-justify">Na parte superior do Portal do Estudante existe uma barra de acessibilidade onde se encontra
    atalhos de navegação padronizados e a opção para alterar o contraste. Essas ferramentas estão disponíveis em todas as
    páginas do portal.</p>
  <p class="text-justify">Os padrões de atalhos deste portal são:</p>
  <ul class="text-justify">
    <li>Teclando-se Alt + 1 em qualquer página do portal, chega-se diretamente ao começo do conteúdo principal
    da página.</li>
    <li>Teclando-se Alt + 2 em qualquer página do portal, chega-se diretamente ao início do menu principal.</li>
    <li>Teclando-se Alt + 3 em qualquer página do portal, chega-se diretamente em sua busca interna.</li>
    <li>Teclando-se Alt + 4 em qualquer página do portal, chega-se diretamente ao rodapé do site.</li>
  </ul>
  <p class="text-justify">Esses atalhos valem para o navegador Chrome, mas existem algumas variações para outros
      navegadores.</p>
  <p class="text-justify">No caso do Firefox, em vez de Alt + número, tecle simultaneamente Alt + Shift + número.</p>
  <p class="text-justify">Sendo Firefox no Mac OS, em vez de Alt + Shift + número, tecle simultaneamente Ctrl + Alt +
      número.</p>
  <p class="text-justify">No Opera, as teclas são Shift + Escape + número. Ao teclar apenas Shift + Escape, o usuário
      encontrará uma janela
    com todas as alternativas de ACCESSKEY da página.</p>
  <p class="text-justify">Ao final desse texto, você poderá baixar alguns arquivos que explicam melhor o termo
    acessibilidade e como deve ser implementado nos sites da Internet.</p>
  <p class="text-justify"><strong>Leis e decretos sobre acessibilidade:</strong></p>
  <ul class="text-justify">
    <li>
      <a href="http://www.planalto.gov.br/ccivil_03/_Ato2004-2006/2004/Decreto/D5296.htm" target="_self">
        Decreto nº 5.296 de 02 de dezembro de 2004</a> (link externo)</li>
    <li>
      <a href="http://www.planalto.gov.br/ccivil_03/_ato2007-2010/2009/decreto/d6949.htm" target="_self">
        Decreto nº 6.949, de 25 de agosto de 2009</a> (link externo) - Promulga a Convenção Internacional sobre os
        Direitos das Pessoas com Deficiência e seu Protocolo Facultativo, assinados em Nova York, em 30 de março de 2007.</li>
    <li>
      <a href="http://www.planalto.gov.br/ccivil_03/_ato2011-2014/2012/Decreto/D7724.htm" target="_self">
        Decreto nº 7.724, de 16 de Maio de 2012</a> (link externo) - Regulamenta a Lei No 12.527, que dispõe sobre o
        acesso a informações.</li>
    <li>
      <a href="http://www.governoeletronico.gov.br/acoes-e-projetos/e-MAG" target="_self">
        Modelo de Acessibilidade de Governo Eletrônico</a> (link externo)</li>
    <li>
      <a href="http://www.governoeletronico.gov.br/biblioteca/arquivos/portaria-no-03-de-07-05-2007" target="_self">
        Portaria nº 03, de 07 de Maio de 2007 - formato .pdf (35,5Kb)</a> (link externo) - Institucionaliza o Modelo de
        Acessibilidade em Governo Eletrônico – e-MAG.</li>
  </ul>
{% endblock %}
