{% include "processoseletivo/portal/header.html" %}

             
                
                    

                    <div class="tile tile-default" id="c9ceadfe-9825-4035-bfab-386cfb1fa881">
                        
    
        
        <div class="cover-richtext-tile tile-content">
        
            
                <p style="text-align: center; " data-mce-style="text-align: center;"><em><span style="color: rgb(29, 91, 124);" data-mce-style="color: #1d5b7c;"><strong>O mundo mudou. O seu ingresso no IFBA também.</strong></span></em><strong><br></strong><strong></strong></p>
            
        
        </div>
    

                    </div>
                
            

            

            

        
    


                        

                    </div>
                
            
        
    


                    

                </div>
            
        

    


            
                
    

        
            
            
                <div class="row">

                    
                        
    
        
            
                
                
                    <div class="cell width-16 position-0 " data-panel="">

                        
                            
    
        

            
                
                    

                    <div class="tile tile-default" id="a0d58f92-19cf-4562-9cc4-3ca1fd2a2469">
                        
    
        
        <div class="cover-richtext-tile tile-content">
        
            
                <p class=" " style="text-align: justify;" data-mce-style="text-align: justify;"><span>Nesta edição, o Processo de Seleção de estudantes para ingresso nos cursos técnicos do IFBA será gratuito e on-line, por meio de uma avaliação do seu histórico escolar, e não por uma prova presencial. Essa é a forma segura de seleção que preparamos para garantir o ingresso de estudantes a uma educação pública, gratuita e de qualidade preservando a saúde de todos. É tudo on-line. Basta se inscrever e enviar seus dados!</span></p>
            
        
        </div>
    

                    </div>
                
            

            

            

        
    


                        

                    </div>
                
            
        
    


                    

                </div>
            
        

    


            
                
    

        
            
            
                <div class="row">

                    
                        
    
        
            
                
                
                    <div class="cell width-3 position-0 tile-default " data-panel="">

                        
                            
    
        

            
                
                    

                    <div class="tile tile-default" id="c4b7d217-124c-4152-9bfd-396d268fc54d">
                        
    
        
        <div class="cover-richtext-tile tile-content">
        
            
                <p style="text-align: center; " data-mce-style="text-align: center;"><a data-mce-style="" style="" target="_self" title="" href="{% url 'indexprocessoseletivo' %}" data-mce-href="resolveuid/da3916bdad1b42819c0892882b990096" class="internal-link"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA1BMVEXy8vJkA4prAAAAC0lEQVQI12MgEQAAADAAAWV61nwAAAAASUVORK5CYII=" alt="EDITAL" data-mce-src="resolveuid/fde0d9db5a7d4637ab909975788c4619" class="image-inline lazyload" title="EDITAL" data-src="https://portal.ifba.edu.br/processoseletivo2021/imagens/edital-b.png"><br>Publicado!</a><span style="color: rgb(0, 0, 128);" data-mce-style="color: #000080;"><br></span></p>
            
        
        </div>
    

                    </div>
                
            

            

            

        
    


                        

                    </div>
                
            
        
    


                    
                        
    
        
            
                
                
                    <div class="cell width-3 position-3 " data-panel="">

                        
                            
    
        

            
                
                    

                    <div class="tile tile-default" id="d45284df-f989-409f-b4b0-a39ca86a8584">
                        
    
        
        <div class="cover-richtext-tile tile-content">
        
            
                <p style="text-align: center;" data-mce-style="text-align: center;"><a style="" target="_self" title="" href="{% url 'lista_de_cursos' %}" data-mce-href="resolveuid/f2be6aa5fd86443c917c2af48244f390" class="internal-link"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA1BMVEXy8vJkA4prAAAAC0lEQVQI12MgEQAAADAAAWV61nwAAAAASUVORK5CYII=" alt="CURSOS" data-mce-src="resolveuid/3dd68571bf014d97906645f8380e423e" class="image-inline lazyload" title="CURSOS" data-src="https://portal.ifba.edu.br/processoseletivo2021/imagens/cursos-b.png"><br></a><span style="color: rgb(0, 0, 255);"><a style="" target="_self" title="" href="https://portal.ifba.edu.br/processoseletivo2021/cursos/cursos" data-mce-href="resolveuid/f2be6aa5fd86443c917c2af48244f390" class="internal-link">Publicado!</a></span></p>
            
        
        </div>
    

                    </div>
                
            

            

            

        
    


                        

                    </div>
                
            
        
    


                    
                        
    
        
            
                
                
                    <div class="cell width-3 position-6 " data-panel="">

                        
                            
    
        

            
                
                    

                    <div class="tile tile-default" id="b0e94764-94e5-4d25-bc8b-b044ad058d3e">
                        
    
        
        <div class="cover-richtext-tile tile-content">
        
            
                <p style="text-align: center; " data-mce-style="text-align: center;"><a href="{% url 'indexprocessoseletivo' %}" ><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA1BMVEXy8vJkA4prAAAAC0lEQVQI12MgEQAAADAAAWV61nwAAAAASUVORK5CYII=" alt="INSCRIÇÕES" data-mce-src="resolveuid/b35d0b4f42914e50b54e78f3702a97b4" class="image-inline lazyload" title="INSCRIÇÕES" data-src="https://portal.ifba.edu.br/processoseletivo2021/imagens/inscricoes-b.png"><br><span style="color: rgb(0, 0, 128);" data-mce-style="color: #000080;">Abertas:</a></span><br>22/02 a 16/04/2021</span></p><p style="text-align: center; " data-mce-style="text-align: center;"><span class="discreet" style="color: rgb(51, 51, 153);" data-mce-style="color: #333399;"></span></p>
            
        
        </div>
    

                    </div>
                
            

            

            

        
    


                        

                    </div>
                
            
        
    


                    
                        
    
        
            
                
                
                    <div class="cell width-3 position-9 " data-panel="">

                        
                            
    
        

            
                
                    

                    <div class="tile tile-default" id="c1bbc0fd-40cb-48a3-8462-e7e99315630a">
                        
    
        
        <div class="cover-richtext-tile tile-content">
        
            
                <p style="text-align: center; " data-mce-style="text-align: center;"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA1BMVEXy8vJkA4prAAAAC0lEQVQI12MgEQAAADAAAWV61nwAAAAASUVORK5CYII=" alt="PUBLICAÇÕES" data-mce-src="resolveuid/78a5a6460ddf47959098830d090c60ec" class="image-inline lazyload" title="PUBLICAÇÕES" data-src="https://portal.ifba.edu.br/processoseletivo2021/imagens/publicacoes-b.png"><br><span style="color: rgb(255, 0, 0);" data-mce-style="color: #ff0000;">Em breve</span></p>
            
        
        </div>
    

                    </div>
                
            

            

            

        
    


                        

                    </div>
                
            
        
    


                    
                        
    
        
            
                
                
                    <div class="cell width-4 position-12 " data-panel="">

                        
                            
    
        

            
                
                    

                    <div class="tile tile-default" id="bdc8ebfb-7218-4c86-9d45-c47c44087919">
                        
    
        
        <div class="cover-richtext-tile tile-content">
        
            
                <p style="text-align: center;" data-mce-style="text-align: center;"><a data-mce-style="" style="" target="_self" title="Mais informações" href="{% url 'duvidas' %}" data-mce-href="resolveuid/d46ab04527ca4e38811ccf7432c253e7" class="internal-link"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA1BMVEXy8vJkA4prAAAAC0lEQVQI12MgEQAAADAAAWV61nwAAAAASUVORK5CYII=" title="DUVIDAS" data-mce-src="resolveuid/a977cc2c86db4402919cc82edf516755" data-mce-selected="1" alt="DUVIDAS" class="image-inline lazyload" data-src="https://portal.ifba.edu.br/processoseletivo2021/imagens/duvidas-b.png"></a></p>
            
        
        </div>
    

                    </div>
                
            

            

            

        
    


                        

                    </div>
                
            
        
    


                    

                </div>
            
        

    


            
                
    

        
            
            
                <div class="row tile-dark">

                    
                        
    
        
            
                
                
                    <div class="cell width-4 position-0 " data-panel="">

                        
                            
    
        

            
                
                    

                    <div class="tile tile-default" id="a4a79426-f471-4898-8456-d9d98b32823d">
                        
    
        
        <div class="cover-richtext-tile tile-content">
        
            
                <p style="text-align: left;" data-mce-style="text-align: left;"><a data-mce-style="" target="_self" title="" href="https://portal.ifba.edu.br/processoseletivo2020/resultados_e_publicacoes/resultado-definitivo-integrado-e-subsequente" data-mce-href="resolveuid/5bb85af8a810498989db459223e6ffe3" class="internal-link"><br></a><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA1BMVEXy8vJkA4prAAAAC0lEQVQI12MgEQAAADAAAWV61nwAAAAASUVORK5CYII=" title="" data-mce-src="resolveuid/5c5cf922bc044377b4ed6d40997bbf12" data-mce-selected="1" alt="" class="image-inline lazyload" data-src="https://portal.ifba.edu.br/processoseletivo2021/imagens/editalpublicado.png"><a data-mce-style="" target="_self" title="" href="https://portal.ifba.edu.br/processoseletivo2020/resultados_e_publicacoes/resultado-definitivo-integrado-e-subsequente" data-mce-href="resolveuid/5bb85af8a810498989db459223e6ffe3" class="internal-link"><br></a></p>
            
        
        </div>
    

                    </div>
                
            

            

            

        
    


                        

                    </div>
                
            
        
    


                    
                        
    
        
            
                
                
                    <div class="cell width-12 position-4 " data-panel="">

                        
                            
    
        

            
                
                    

                    <div class="tile tile-default" id="b8c2bbec-7a3a-4a72-a709-aef031f642ed">
                        
    
        
        <div class="cover-richtext-tile tile-content">
        
            
                <p><a data-mce-style="" style="" target="_self" title="" href="https://portal.ifba.edu.br/processoseletivo2020/noticias" data-mce-href="resolveuid/07fa7d189310408e89fc60e1e02f27a5" class="internal-link"><br><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA1BMVEXy8vJkA4prAAAAC0lEQVQI12MgEQAAADAAAWV61nwAAAAASUVORK5CYII=" title="Fique por dentro" data-mce-src="resolveuid/07fcae4d4e534435b1270b6068820ec7" height="41" width="260" alt="Fique por dentro" class="image-inline lazyload" data-src="https://portal.ifba.edu.br/processoseletivo2020/arquivos-1/fiquepordentro03.png"></a>                    <span class="discreet"><a style="" target="_self" title="" href="https://portal.ifba.edu.br/processoseletivo2021/noticias/noticias-e-notas" data-mce-href="resolveuid/78e9341add9a4741b8163333d5b87634" class="internal-link">Clique aqui para mais informações...</a></span></p>
            
        
        </div>
    

                    </div>
                
            

            

            

        
    


                        
                            
    
        

            
                
                    

                    <div class="tile tile-default" id="f5cc9215-8e70-460a-9cc7-2305cfe6a9f0">
                        
        
        <div class="cover-collection-tile tile-content">
            
                

                

                <div class="collection-item">
                    
                        
                            
                                
                                

                                

                                
                            
                        
                            
                                
                                
                                    <h1>
                                        <a href="https://portal.ifba.edu.br/notas-comunicados/nota-publica-sobre-o-processo-seletivo-2021" title="">NOTA PÚBLICA SOBRE O PROCESSO SELETIVO 2021</a>
                                    </h1>
                                    
                                    
                                    
                                

                                

                                
                            
                        
                            
                                
                                

                                

                                
                            
                        
                            
                                
                                

                                

                                
                            
                        
                            
                                
                                

                                

                                
                            
                        
                    
                    <div class="visualClear"><!-- --></div>
                </div>
                <div class="collection-item">
                    
                        
                            
                                
                                

                                

                                
                            
                        
                            
                                
                                
                                    <h1>
                                        <a href="https://portal.ifba.edu.br/notas-comunicados/processo-seletivo-2021-sera-virtual-nao-presencial" title="">Processo Seletivo 2021 será virtual não presencial</a>
                                    </h1>
                                    
                                    
                                    
                                

                                

                                
                            
                        
                            
                                
                                

                                

                                
                            
                        
                            
                                
                                

                                

                                
                            
                        
                            
                                
                                

                                

                                
                            
                        
                    
                    <div class="visualClear"><!-- --></div>
                </div>
                <div class="collection-item">
                    
                        
                            
                                
                                

                                

                                
                            
                        
                            
                                
                                
                                    <h1>
                                        <a href="https://portal.ifba.edu.br/noticias/2021/processo-seletivo-sera-gratuito-e-por-analise-de-historico-escolar" title="Publicado edital do Processo Seletivo Gratuito para os cursos técnicos">Processo Seletivo será gratuito e por análise de histórico escolar</a>
                                    </h1>
                                    
                                    
                                    
                                

                                

                                
                            
                        
                            
                                
                                

                                

                                
                            
                        
                            
                                
                                

                                

                                
                            
                        
                            
                                
                                

                                

                                
                            
                        
                    
                    <div class="visualClear"><!-- --></div>
                </div>

                <div class="tile-footer">
                    <a href="https://portal.ifba.edu.br/processoseletivo2021/noticias/noticias-e-notas"></a>
                </div>

                <div class="visualClear"><!-- --></div>
            
        </div>
    
                    </div>
                
            

            

            

        
    


                        

                    </div>
                
            
        
    


                    

                </div>
            
        

    


            
                
    

        
            
            
                <div class="row">

                    
                        
    
        
            
                
                
                    <div class="cell width-16 position-0 " data-panel="">

                        
                            
    
        

            
                
                    

                    <div class="tile tile-default" id="f9e94edb-dd80-4bac-9936-59f9a61900a9">
                        
    
        
        <div class="cover-richtext-tile tile-content">
        
            
                <p><br></p>
            
        
        </div>
    

                    </div>
                
            

            

            

        
    


                        

                    </div>
                
            
        
    


                    

                </div>
            
        

    


            
                
    

        
            
            
                <div class="row">

                    
                        
    
        
            
                
                
                    <div class="cell width-16 position-0 " data-panel="">
   
        
    


                {% include "processoseletivo/portal/footer.html" %}
