{% extends "admin/change_form.html" %}

{% block object-tools-items %}

    <li role="presentation" class="dropdown">
        <a class="link_span dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              Gerar Lista de Inscritos <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'lista_inscritos_pdf' original.edital.pk %}?preliminar=Sim">Lista preliminar</a></li>
                <li><a href="{% url 'lista_inscritos_pdf' original.edital.pk %}">Lista final</a></li>
            </ul>
    </li>
    {{block.super}}

{% endblock %}
