{% extends "psct/base.html" %}
{% load base_tags pontuacao_tags %}
{% block conteudo %}

    <h2 class="titulo">Visualizar Inscrição</h2>

    <h3>Dados Gerais</h3>
    <p></p>

    <div id="inscricao" class="tab-pane fade in active">
        <div class="table-responsive">
            <table class="table table-striped table-condensed">
                <tbody>
                <tr>
                    <td class="col-xs-6 col-sm-4 col-md-3"><b>Candidato:</b></td>
                    <td>{{ inscricao.candidato }}</td>
                </tr>
                <tr>
                    <td><b>Campus:</b></td>
                    <td>{{ inscricao.curso.campus }}</td>
                </tr>
                <tr>
                    <td><b>Modalidade de ensino:</b></td>
                    <td>{{ inscricao.curso.get_formacao_display }}</td>
                </tr>
                <tr>
                    <td><b>Curso:</b></td>
                    <td>{{ inscricao.curso.curso.nome }}</td>
                </tr>
                <tr>
                    <td><b>Turno:</b></td>
                    <td>{{ inscricao.curso.get_turno_display }}</td>
                </tr>
                <tr>
                    <td><b>Concorre por cota:</b></td>
                    <td>
                        {% if not inscricao.is_ampla_concorrencia %}
                            Sim
                        {% else %}
                            Não
                        {% endif %}
                    </td>
                </tr>
                {% if not inscricao.is_ampla_concorrencia %}
                    <tr>
                        <td><b>Modalidade de cota:</b></td>
                        <td>{{ inscricao.modalidade_cota }}</td>
                    </tr>
                {% endif %}
                {% if inscricao.situacao %}
                    <tr>
                        <td><b>Situação:</b></td>
                        <td><b>{{ inscricao.situacao.get_texto_candidato }}</b></td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>

    <h3>Classificação</h3>
    <p></p>
    {% with situacao=inscricao.get_situacao %}
        <div class="table-responsive">
            <table class="table table-striped table-condensed">
                <tbody>
                {% if not inscricao.is_ampla_concorrencia %}
                    <tr>
                        <td>Cota:</td>
                        <td>{{ resultado.classificacao_cota }}º</td>
                    </tr>
                {% endif %}
                <tr>
                    <td>Geral:</td>
                    <td>{{ resultado.classificacao }}º</td>
                </tr>
                <tr>
                    <td>Situacao:</td>
                    <td><span class="status status-{{ situacao.get_css_class }}">{{ situacao }}</span></td>
                </tr>
                </tbody>
            </table>
        </div>
    {% endwith %}

    <h3>Pontuação</h3>
    <p></p>
    {% include "psct/pontuacao/pontuacao_detail.html" %}

    <h3>Notas</h3>
    {% with inscricao_original=inscricao %}
        {% include "psct/pontuacao/notas_embedded.html" %}
    {% endwith %}

    <h3>Comprovantes</h3>
    <div id="comprovantes-inseridos" class="tab-pane">
        <div class="table-responsive">
            <table class="table table-striped table-condensed">
                <thead>
                <tr>
                    <th class="col-xs-6">Nome</th>
                    <th>Visualizar</th>
                </tr>
                </thead>
                <tbody>
                {% for comprovante in inscricao.comprovantes.all %}
                    <tr>
                        <td>{{ comprovante.nome }}</td>
                        <td><a href="{{ comprovante.arquivo.url }}" target="_blank">Clique Aqui</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}