{% extends "base/index.html" %}
{% load staticfiles cropping %}

{% block extrahead %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.webui-popover/1.2.1/jquery.webui-popover.min.css">
<script src="https://cdn.jsdelivr.net/jquery.webui-popover/1.2.1/jquery.webui-popover.min.js"></script>
{% endblock %}

{% block breadcrumb %}
<li><a href="/">Início</a></li>
<li><i class="fa fa-angle-right text-muted"></i></li>
<!--<li class="active">Processos Seletivos</li>-->
{% endblock %}

{% block conteudo %}

<h2 class="titulo verde-escuro">Processos Seletivos</h2>
<div class="row">
    <div class="col-sm-8">
        <h2 class="titulo">{{ processo.sigla }}</h2>
        <p style="text-align: justify">{{ processo.descricao|safe }}</p>
<style>
    .thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
    }

    .thumbnail img {
    width: 100%;
    }
</style>

  <div class="row">

    {% for processo in processos %}

        <div class="col-xs-12 col-sm-6">

            <div class="thumbnail" href="{% url 'processoseletivo' processo_pk=processo.id %}">
                <a href="{% url 'processoseletivo' processo_pk=processo.id %}">
                  <img src="{% cropped_thumbnail processo "cropping" %}" alt="Logomarca do {{ processo.sigla }}">
                </a>
                <div class="caption">
                    <a href="{% url 'processoseletivo' processo_pk=processo.id %}">
                        <h4>{{ processo.sigla }}<br>
                            <small>{{ processo.nome }}</small>
                        </h4>
                    </a>
                </div>
            </div>
        </div>
      {% if forloop.counter|divisibleby:2 and not forloop.last %}
        </div>
        <div class="row">
      {% endif %}
    {% empty %}
        <div class="row">
          <div class="col-xs-12">
              <div class="alert alert-warning">
                  <i class="fa fa-exclamation-triangle fa-fw"></i> Não há processos seletivos cadastrados.
              </div>
          </div>
        </div>
    {% endfor %}
  </div>


{% endblock %}
