{% include "processoseletivo/portal/header.html" %}

              
                            
    
        

            
                
                    

                    <div class="tile tile-default" id="c0550a9b-e77e-413f-b977-d4280b1c949c">
                        
    
        
        <div class="cover-richtext-tile tile-content">
        
            
                <p><a class="internal-link" href="{% url 'lista_de_cursos' %}" target="_self" title="" data-mce-href="../"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA1BMVEXy8vJkA4prAAAAC0lEQVQI12MgEQAAADAAAWV61nwAAAAASUVORK5CYII=" alt="T-CURSOS.png" data-mce-src="../../imagens/t-cursos.png" class="image-inline lazyload" title="T-CURSOS.png" data-src="https://portal.ifba.edu.br/processoseletivo2021/imagens/t-cursos.png"></a></p>
            
        
        </div>
    

                    </div>
                
            

            

            

        
    


                        
                            
    
        

            
                
                    

                    <div class="tile verde-escuro" id="cf1b2d72-d87a-4c97-b1bd-312d5dc4897d">
                        

    <div class="outstanding-header tile-content">
    

      

      

        

            
            <h2 class="outstanding-title">Concorrências - CONCOMITANTE</h2>
            
            

        

      

      
    

    </div>


                    </div>
                
            

            

            

        
    


                        

                    </div>
                
            
        
    


                    

                </div>
            
        

    


            
                
    

        
            
            
                <div class="row">

                    
                        
    
        
            
                
                
                    <div class="cell width-16 position-0 tile-default " data-panel="">

                        
                            
    
        

            
                
                    

                    <div class="tile tile-default" id="a0d58f92-19cf-4562-9cc4-3ca1fd2a2469">
                        
    
        
        <div class="cover-richtext-tile tile-content">
        
            
                <table class="plain mceItemTable"><colgroup width="160"></colgroup><colgroup width="414"></colgroup><colgroup width="109"></colgroup><colgroup span="4" width="64"></colgroup><tbody><tr><td align="center" rowspan="2"><b>CAMPUS</b></td><td align="center" rowspan="2"><b>CURSO INTEGRADO</b></td><td align="center"><b>CONCORRÊNCIA (candidatas/os por vaga)</b></td></tr><tr><td align="center"><b>2020.1</b></td></tr><tr><td align="left">Lauro de Freitas</td><td align="left">Técnico em Sistemas de Energia Renovável</td><td align="center"><span>4,5</span></td></tr></tbody></table><p><br data-mce-bogus="1"></p>
            
        
        </div>
    

                    </div>
                
            

            

            

        
    


                        

                    </div>
                
            
        
    


                    

                </div>
            
        

    


            
                
    

        
            
            
                <div class="row">

                    
                        
    
        
            
                
                
                    <div class="cell width-16 position-0 " data-panel="">

                        
                            
    
        

            
                
                    

                    <div class="tile verde-escuro" id="a1f49b1f-b1ae-4198-ad30-9263d778af5b">
                        

    <div class="outstanding-header tile-content">
    

      

          <a class="outstanding-link" href="{% url 'lista_de_cursos' %}">Voltar</a>

      

      

      
    

    </div>


                    </div>
                
     

{% include "processoseletivo/portal/footer.html" %}