{% include "processoseletivo/portal/header.html" %}

<div class="tile tile-default" id="f0a7c131-fde2-4cf8-a9a9-748526082af8">



    <div class="spacer-tile tile-content" style="height: px">

    </div>

</div>













</div>








</div>













<div class="row tile-default">








    <div class="cell width-16 position-0 " data-panel="">










        <div class="tile tile-default" id="a3792074-e9db-4797-8dbf-d147b5ecf214">



            <div class="cover-richtext-tile tile-content">


                <p style="text-align: left; " data-mce-style="text-align: left;"><a class="external-link"
                        href="{% url 'processoseletivo' %}" style="" target="_self" title=""
                        data-mce-href="{% url 'processoseletivo' %}" data-mce-style=""><img
                            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA1BMVEXy8vJkA4prAAAAC0lEQVQI12MgEQAAADAAAWV61nwAAAAASUVORK5CYII="
                            title="T-EDITAL.png" data-mce-src="resolveuid/93a0d10f80aa48ce9303014528ed818a"
                            data-mce-selected="1" alt="T-EDITAL.png" class="image-inline lazyload"
                            data-src="https://portal.ifba.edu.br/processoseletivo2021/imagens/t-edital.png"></a></p>


            </div>


        </div>




















        <div class="tile verde-escuro" id="d467807d-9d94-4d5f-9aee-29ce2eaeae07">


            <div class="outstanding-header tile-content">









                <h2 class="outstanding-title">DESTAQUE - Cronograma</h2>












                <a class="outstanding-link">Publicado em 15/02/2021</a>












            </div>


        </div>




















        <div class="tile tile-default" id="f9c832e5-bfbe-4881-9262-65007e3c9895">



            <div class="cover-richtext-tile tile-content">


                <table border="0" class="listing mceItemTable" style="">
                    <tbody>
                        <tr>
                            <td><strong>ETAPA</strong></td>
                            <td><strong>PERÍODO</strong></td>
                            <td><strong> LOCAL</strong></td>
                        </tr>
                        <tr>
                            <td>Publicação dos Editais </td>
                            <td>15/02/2021</td>
                            <td style="text-align: center;">SITE <br>selecao.ifba.edu.br</td>
                        </tr>
                        <tr>
                            <td>Período de Inscrições</td>
                            <td>22/02/2021 a 16/04/2021</td>
                            <td style="text-align: center;">SISTEMA DE INSCRIÇÃO<br> https://prosel.ifba.edu.br</td>
                        </tr>
                        <tr>
                            <td>Publicação da Lista Preliminar de candidatas/os<br> que solicitaram uso do Nome Social.
                            </td>
                            <td>20/04/2021</td>
                            <td style="text-align: center;">SITE <br>selecao.ifba.edu.br</td>
                        </tr>
                        <tr>
                            <td>Período de Recurso para candidatas/os <br>que não obtiveram deferimento na solicitação
                                do Nome Social.</td>
                            <td>21 e 22/04/2021</td>
                            <td style="text-align: center;">E-MAIL <br>selecao2021@ifba.edu.br </td>
                        </tr>
                        <tr>
                            <td>Publicação da lista PRELIMINAR de inscrições <br>homologadas (confirmadas)</td>
                            <td>23/04/2021</td>
                            <td style="text-align: center;">SITE<br>selecao.ifba.edu.br</td>
                        </tr>
                        <tr>
                            <td>Período de Recurso para quem não obteve <br>Inscrição homologada (confirmada)</td>
                            <td>26 e 27/04/2021</td>
                            <td style="text-align: center;">SISTEMA DE INSCRIÇÃO https://prosel.ifba.edu.br</td>
                        </tr>
                        <tr>
                            <td>Publicação do Resultado PRELIMINAR de <br>CLASSIFICAÇÃO das inscrições homologadas</td>
                            <td>30/04/2021</td>
                            <td style="text-align: center;">SITE <br>selecao.ifba.edu.br</td>
                        </tr>
                        <tr>
                            <td>Período para Recurso contra o Resultado <br>Preliminar de classificação</td>
                            <td>03 e 04/05/2021</td>
                            <td style="text-align: center;">SISTEMA DE INSCRIÇÃO https://prosel.ifba.edu.br</td>
                        </tr>
                        <tr>
                            <td>Publicação do RESULTADO FINAL de <br>CLASSIFICAÇÃO do Processo Seletivo <br>(1ª
                                convocação para matrícula)</td>
                            <td> 07/05/2021</td>
                            <td style="text-align: center;">SITE<br>selecao.ifba.edu.br </td>
                        </tr>
                        <tr>
                            <td>Matrículas</td>
                            <td>Datas a ser divulgadas com o resultado FINAL</td>
                            <td>Campus (confira os <br>procedimentos a ser divulgados<br> com o resultado FINAL)</td>
                        </tr>
                    </tbody>
                </table>
                <p> </p>


            </div>


        </div>













    </div>








</div>













<div class="row">








    <div class="cell width-16 position-0 " data-panel="">










        <div class="tile verde-escuro" id="fc4d5b4f-820b-4adf-a7d4-a595b34fd3a7">


            <div class="outstanding-header tile-content">




                <a class="outstanding-link"
                    href="{% url 'processoseletivo' %}">Voltar</a>























            </div>


        </div>



        {% include "processoseletivo/portal/footer.html" %}