{% include "processoseletivo/portal/header.html" %}


                                        <div class="tile tile-default" id="f0a7c131-fde2-4cf8-a9a9-748526082af8">



                                            <div class="spacer-tile tile-content" style="height: px">

                                            </div>

                                        </div>













                                    </div>








                                </div>













                                <div class="row">








                                    <div class="cell width-16 position-0 " data-panel="">










                                        <div class="tile tile-default" id="efaa50fe-afeb-4c1d-9f18-fed7cce3a34d">



                                            <div class="cover-richtext-tile tile-content">


                                                <p><a data-mce-style="" style="" target="_self" title="Edital"
                                                        href="{% url 'processoseletivo' %}"
                                                        data-mce-href="resolveuid/da3916bdad1b42819c0892882b990096"
                                                        class="internal-link"><img
                                                            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA1BMVEXy8vJkA4prAAAAC0lEQVQI12MgEQAAADAAAWV61nwAAAAASUVORK5CYII="
                                                            title="T-EDITAL.png"
                                                            data-mce-src="resolveuid/93a0d10f80aa48ce9303014528ed818a"
                                                            data-mce-selected="1" alt="T-EDITAL.png"
                                                            class="image-inline lazyload"
                                                            data-src="https://portal.ifba.edu.br/processoseletivo2021/imagens/t-edital.png"></a>
                                                </p>


                                            </div>


                                        </div>













                                    </div>








                                </div>













                                <div class="row">








                                    <div class="cell width-16 position-0 tile-default " data-panel="">










                                        <div class="tile verde-escuro" id="bcae7cf3-eba1-435b-b571-9b80cce895d4">


                                            <div class="outstanding-header tile-content">









                                                <h2 class="outstanding-title">DESTAQUE - Documentos para inscrição</h2>












                                                <a class="outstanding-link"
                                                    href="{% url 'indexprocessoseletivo' %}">Leia o
                                                    texto completo no EDITAL</a>























                                            </div>


                                        </div>













                                    </div>








                                </div>













                                <div class="row">








                                    <div class="cell width-16 position-0 " data-panel="">










                                        <div class="tile tile-default" id="a47e1944-14c1-46d6-940b-4403068c7f70">



                                            <div class="cover-richtext-tile tile-content">


                                                <p><strong>1. Nº de CPF do/a estudante* candidato/a</strong> (para todos
                                                    os cursos)<br><span class="discreet">*não será aceita inscrição com
                                                        CPF do/da responsável.</span></p>
                                                <p><strong>2. Documento de Histórico escolar</strong></p>
                                                <p style="padding-left: 30px;" data-mce-style="padding-left: 30px;">do
                                                    6º, 7º e 8º ano do Ensino Fundamental <strong>para cursos
                                                        INTEGRADOS</strong></p>
                                                <p style="padding-left: 30px;" data-mce-style="padding-left: 30px;">do
                                                    6º, 7º e 8º ano do Ensino Fundamental <strong>para o curso
                                                        CONCOMITANTE</strong></p>
                                                <p style="padding-left: 30px;" data-mce-style="padding-left: 30px;">do
                                                    1º e 2º ano do Ensino Médio <strong>para cursos
                                                        SUBSEQUENTES</strong></p>
                                                <p><br></p>
                                                <p>Excepcionalmente para a realização da inscrição, será aceito em
                                                    alternativa ao documento de Histórico Escolar que não seja emitido a
                                                    tempo pela escola, um dos seguintes documentos:</p>
                                                <ul>
                                                    <li>o conjunto dos boletins escolares dos respectivos, com as médias
                                                        finais das disciplinas, em papel timbrado, carimbado e assinado
                                                        pela/o responsável institucional da escola, ou;</li>
                                                    <li>o documento “Declaração de Histórico Escolar” disponível no
                                                        ANEXO VI do edital, preenchido, carimbado e assinado pela/o
                                                        responsável institucional da escola, ou;</li>
                                                    <li>documento de “Atestado escolar”, ou equivalente, onde constem as
                                                        notas e o nome completo da/o candidata/o, em documento de papel
                                                        timbrado, carimbado e assinado pela/o responsável institucional
                                                        da escola.</li>
                                                </ul>
                                                <p><br></p>
                                                <p><strong>No ato da matrícula de TODAS/OS as/os candidatas/os
                                                        aprovadas/os (inclusive aquelas/es que realizaram inscrição com
                                                        um dos documentos alternativos) será obrigatória a apresentação
                                                        do documento de Histórico Escolar.</strong></p>


                                            </div>


                                        </div>













                                    </div>








                                </div>













                                <div class="row">








                                    <div class="cell width-16 position-0 " data-panel="">










                                        <div class="tile tile-edge" id="c5b947f7-c2e6-4ae9-81e1-77cf91c4aa11">



                                            <div class="cover-richtext-tile tile-content">


                                                <p><br data-mce-bogus="1"></p>


                                            </div>


                                        </div>



{% include "processoseletivo/portal/footer.html" %}