          {% include "processoseletivo/portal/header.html" %}
        




                    <div class="tile tile-default" id="f0a7c131-fde2-4cf8-a9a9-748526082af8">



                      <div class="spacer-tile tile-content" style="height: px">

                      </div>

                    </div>
                  </div>



                </div>
                <div class="row">


                  <div class="cell width-16 position-0 " data-panel="">


                    <div class="tile tile-default" id="efaa50fe-afeb-4c1d-9f18-fed7cce3a34d">



                      <div class="cover-richtext-tile tile-content">


                        <p><a data-mce-style="" style="" target="_self" title=""
                            href="{% url 'lista_de_cursos' %}"
                            data-mce-href="resolveuid/112502a7a15c4314808fb6f4ba318f55" class="internal-link"><img
                              src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA1BMVEXy8vJkA4prAAAAC0lEQVQI12MgEQAAADAAAWV61nwAAAAASUVORK5CYII="
                              title="T-CURSOS.png" data-mce-src="resolveuid/a213ad13904242c4b25ca9a378aa444e"
                              data-mce-selected="1" alt="T-CURSOS.png" class="image-inline lazyload"
                              data-src="https://portal.ifba.edu.br/processoseletivo2021/imagens/t-cursos.png"></a></p>


                      </div>


                    </div>


                  </div>


                </div>

                <div class="row">

                </div>

                <div class="row">

                  <div class="cell width-5 position-0 " data-panel="">

                    <div class="tile verde-escuro" id="e826d9c6-2c19-4932-9e4e-38e4d8ec3cbd">


                      <div class="outstanding-header tile-content">









                        <h2 class="outstanding-title">Cursos INTEGRADOS</h2>










                      </div>


                    </div>




















                    <div class="tile tile-default" id="dc152d52-b086-42ed-8764-f237e5bdc1bf">



                      <div class="cover-richtext-tile tile-content">


                        <p style="text-align: left;" data-mce-style="text-align: left;">Nos cursos
                          <strong>integrados</strong>, o estudante cursa o Ensino Médio e o Curso Técnico ao mesmo
                          tempo. <br></p>
                        <p style="text-align: left;" data-mce-style="text-align: left;">A duração mínima é de 3 ou 4
                          anos, a depender do curso.</p>
                        <p style="text-align: left;" data-mce-style="text-align: left;">O candidato<strong> deve ter
                            concluído o Ensino Fundamental</strong> ou concluí-lo até a data da matrícula.</p>


                      </div>


                    </div>













                  </div>













                  <div class="cell width-5 position-5 tile-default " data-panel="">










                    <div class="tile verde-escuro" id="bcae7cf3-eba1-435b-b571-9b80cce895d4">


                      <div class="outstanding-header tile-content">









                        <h2 class="outstanding-title">Cursos SUBSEQUENTES</h2>










                      </div>


                    </div>




















                    <div class="tile tile-default" id="a3651b26-198d-4326-9c28-47055531b39c">



                      <div class="cover-richtext-tile tile-content">


                        <p style="text-align: left;" data-mce-style="text-align: left;">Nos cursos
                          <strong>subsequentes</strong>, o estudante cursa somente o Curso Técnico. </p>
                        <p style="text-align: left;" data-mce-style="text-align: left;">A duração mínima é de 2 anos.
                        </p>
                        <p style="text-align: left;" data-mce-style="text-align: left;">O candidato <strong>deve ter
                            concluído o Ensino Médio</strong> ou concluí-lo até a data da matrícula.<br><br></p>


                      </div>


                    </div>













                  </div>













                  <div class="cell width-5 position-10 " data-panel="">










                    <div class="tile verde-escuro" id="db42c7c2-886f-4661-8f61-4f420f95083d">


                      <div class="outstanding-header tile-content">









                        <h2 class="outstanding-title">Curso CONCOMITANTE</h2>










                      </div>


                    </div>




















                    <div class="tile tile-default" id="e3cdb5bb-8b8f-4250-b98f-174a66566f38">



                      <div class="cover-richtext-tile tile-content">


                        <p><span>No curso </span><strong>concomitante</strong><span>, a/o estudante cursa somente o
                            Curso Técnico no IFBA.</span></p>
                        <p>A duração mínima é de 1,5 ano</p>
                        <p><span>Para esse curso, é necessário estar</span><strong> matriculado no Ensino Médio em outra
                            instituição </strong><span>até a data da matrícula no IFBA.</span></p>


                      </div>


                    </div>













                  </div>








                </div>













                <div class="row">








                  <div class="cell width-8 position-0 " data-panel="">










                    <div class="tile tile-dark" id="cfb9b904-4ee6-4a51-ad79-09cf03b15b54">



                      <div class="cover-richtext-tile tile-content">


                        <p style="text-align: center;" data-mce-style="text-align: center;"><br><a data-mce-style=""
                            style="" target="_blank" title=""
                            href="https://portal.ifba.edu.br/processoseletivo2021/publicacoes_pdf/LISTACURSOSMODALIDADE.pdf"
                            data-mce-href="resolveuid/079e477c4b91497692f7b18a4665dc24" class="internal-link"><img
                              src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA1BMVEXy8vJkA4prAAAAC0lEQVQI12MgEQAAADAAAWV61nwAAAAASUVORK5CYII="
                              title="" data-mce-src="resolveuid/ab80071e25c5400c8415531107feb360" height="45" width="45"
                              alt="" class="image-inline lazyload"
                              data-src="https://portal.ifba.edu.br/processoseletivo2021/arquivos-1/downloadarrow.png"><br>LISTA
                            DOS CURSOS DISPONÍVEIS</a></p>


                      </div>


                    </div>













                  </div>













                  <div class="cell width-8 position-8 " data-panel="">










                    <div class="tile tile-dark" id="be0c97f7-1cb1-4960-909e-6f247a5823c6">



                      <div class="cover-richtext-tile tile-content">


                        <p style="text-align: center;" data-mce-style="text-align: center;"><br><a style=""
                            target="_blank" title=""
                            href="https://portal.ifba.edu.br/processoseletivo2021/publicacoes_pdf/DESCRICAOCURSOS.pdf"
                            data-mce-href="resolveuid/2a2356cb815544459c3f755a4b0168ab" class="internal-link"><img
                              src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA1BMVEXy8vJkA4prAAAAC0lEQVQI12MgEQAAADAAAWV61nwAAAAASUVORK5CYII="
                              title="" data-mce-src="resolveuid/ab80071e25c5400c8415531107feb360" height="45" width="45"
                              data-mce-selected="1" alt="" class="image-inline lazyload"
                              data-src="https://portal.ifba.edu.br/processoseletivo2021/arquivos-1/downloadarrow.png"></a><a
                            data-mce-style="" style="" target="_blank" title=""
                            href="https://portal.ifba.edu.br/processoseletivo2021/publicacoes_pdf/DESCRICAOCURSOS.pdf"
                            data-mce-href="resolveuid/2a2356cb815544459c3f755a4b0168ab"
                            class="internal-link"><br>DESCRIÇÃO DOS CURSOS DISPONÍVEIS</a></p>


                      </div>


                    </div>













                  </div>








                </div>













                <div class="row">








                  <div class="cell width-16 position-0 " data-panel="">










                    <div class="tile tile-default" id="c5be9f0f-4f04-4c37-8fcb-e66ddcba6338">



                      <div class="cover-richtext-tile tile-content">

                      </div>


                    </div>













                  </div>








                </div>













                <div class="row">








                  <div class="cell width-16 position-0 " data-panel="">










                    <div class="tile verde-escuro" id="f70e0bd3-0d88-4ce2-b890-75622d60f204">


                      <div class="outstanding-header tile-content">









                        <h2 class="outstanding-title">CONCORRÊNCIAS</h2>










                      </div>


                    </div>













                  </div>








                </div>













                <div class="row">








                  <div class="cell width-5 position-0 " data-panel="">










                    <div class="tile tile-edge" id="d34aadc0-38e1-4dee-972c-b94d6b57737c">



                      <div class="cover-richtext-tile tile-content">


                        <div align="center" style="text-align: center; " data-mce-style="text-align: center;">
                          <p><strong><a style="" target="_self" title=""
                                href="{% url 'concorrencia_integrado' %}"
                                data-mce-href="resolveuid/8506d354b4fb4d5cbaa7bdb44d85c7d8"
                                class="internal-link"><br>Concorrência dos cursos<br>INTEGRADOS</a></strong></p>
                        </div>


                      </div>


                    </div>













                  </div>













                  <div class="cell width-5 position-5 " data-panel="">










                    <div class="tile tile-edge" id="f50cabf1-8781-44e9-9e5b-dee16f052f2a">



                      <div class="cover-richtext-tile tile-content">


                        <p style="text-align: center;"><strong><a title=""
                              href="{% url 'concorrencia_subsequente' %}"
                              data-mce-href="resolveuid/cc4ae815b8b14480afd002e919512536" class="internal-link"
                              target="_self"><br>Concorrência dos cursos<br>SUBSEQUENTES<br></a></strong></p>
                        <p style="text-align: center;" data-mce-style="text-align: center;"></p>


                      </div>


                    </div>













                  </div>













                  <div class="cell width-5 position-10 " data-panel="">










                    <div class="tile tile-edge" id="de7f911a-04f1-4eda-b77f-23f0210e18bf">



                      <div class="cover-richtext-tile tile-content">


                        <p style="text-align: center;" data-mce-style="text-align: center;"><strong><a data-mce-style=""
                              style="" target="_self" title=""
                              href="{% url 'concorrencia_concomitante' %}"
                              data-mce-href="resolveuid/ae97f5d65fa54625a572f104047cb314"
                              class="internal-link"><br>Concorrência do curso<br>CONCOMITANTE<br></a></strong></p>


                      </div>


                    </div>













                  </div>








                </div>





                <div class="row">








                  <div class="cell width-16 position-0 " data-panel="">



                    <div class="tile verde-escuro" id="e5acca9b-4402-40f1-8b56-af58c4656f44">


                      <div class="outstanding-header tile-content">




                        <a class="outstanding-link" href="{% url 'processoseletivo' %}">voltar</a>



                      </div>


                    </div>

                    <div class="tile tile-default" id="c5b947f7-c2e6-4ae9-81e1-77cf91c4aa11">



                      <div class="cover-richtext-tile tile-content">

                      </div>


                    </div>



                      <!--Provável fim de conteudo-->


                   {% include "processoseletivo/portal/footer.html" %}