{% include "processoseletivo/portal/header.html" %}





                    <div class="tile tile-default" id="f0a7c131-fde2-4cf8-a9a9-748526082af8">



                        <div class="spacer-tile tile-content" style="height: px">

                        </div>

                    </div>













                </div>








            </div>













            <div class="row">








                <div class="cell width-16 position-0 " data-panel="">










                    <div class="tile tile-default" id="efaa50fe-afeb-4c1d-9f18-fed7cce3a34d">



                        <div class="cover-richtext-tile tile-content">


                            <p><a data-mce-style="" style="" target="_self" title="Edital"
                                    href="{% url 'processoseletivo' %}"
                                    data-mce-href="resolveuid/da3916bdad1b42819c0892882b990096"
                                    class="internal-link"><img
                                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA1BMVEXy8vJkA4prAAAAC0lEQVQI12MgEQAAADAAAWV61nwAAAAASUVORK5CYII="
                                        title="T-EDITAL.png" data-mce-src="resolveuid/93a0d10f80aa48ce9303014528ed818a"
                                        data-mce-selected="1" alt="T-EDITAL.png" class="image-inline lazyload"
                                        data-src="https://portal.ifba.edu.br/processoseletivo2021/imagens/t-edital.png"></a>
                            </p>


                        </div>


                    </div>













                </div>








            </div>













            <div class="row">








                <div class="cell width-16 position-0 tile-default " data-panel="">










                    <div class="tile verde-escuro" id="bcae7cf3-eba1-435b-b571-9b80cce895d4">


                        <div class="outstanding-header tile-content">









                            <h2 class="outstanding-title">{{ pcd }}DESTAQUE - Pessoas com deficiência</h2>












                            <a class="outstanding-link"
                                href="{% url 'indexprocessoseletivo' %}">Leia o texto completo no
                                EDITAL</a>























                        </div>


                    </div>













                </div>








            </div>













            <div class="row">








                <div class="cell width-16 position-0 " data-panel="">










                    <div class="tile tile-default" id="c5b947f7-c2e6-4ae9-81e1-77cf91c4aa11">



                        <div class="cover-richtext-tile tile-content">


                            <p>O candidato com deficiência deverá apresentar, NO ATO DA MATRÍCULA, laudo médico original
                                emitido nos últimos 24 (vinte e quatro) meses, retroativos da data de entrega, atestando
                                a espécie, o grau ou o nível de deficiência, com expressa referência ao código
                                correspondente da Classificação Internacional de Doenças (CID). O candidato deve
                                observar os seguintes requisitos, nos casos de deficiência:</p>
                            <p>a) <b>Física:</b> O relatório médico deve ser bem descrito, indicando qual é a
                                deficiência física e o grau de comprometimento motor por meio de exame físico detalhado;
                            </p>
                            <p>b) <b>Auditiva:</b> Além do relatório médico, é necessário audiometria bilateral dos
                                últimos 24 (vinte e quatro) meses;</p>
                            <p>c) <b>Visual:</b> É necessário relatório médico com acuidade visual realizado por
                                oftalmologista;</p>
                            <p>d) <b>Mental:</b> Relatório médico indicando o comprometimento intelectual com a data do
                                início dos sintomas, além de indicar as limitações cognitivas (por exemplo: comunicação,
                                cuidado pessoal etc.)</p>
                            <p>No momento da matrícula, os laudos médicos e respectivos exames serão entregues pelos
                                convocados e encaminhados para o Serviço Médico do IFBA para a devida homologação.</p>
                            <p>Serão homologados laudos que comprovarem que o candidato se enquadra em uma das
                                categorias indicadas no Decreto nº 3.298, de 20 de dezembro de 1999, na Lei nº 12.764,
                                de 27 de dezembro de 2012 e na Súmula do STJ nº 377, de 5 de maio de 2009.</p>
                            <p>A entrega do laudo médico no ato da matrícula, não significa a confirmação da matrícula
                                na vaga reservada para Pessoa com Deficiência, devendo a/o candidata/o aguardar a
                                homologação conforme item 5.2.1 deste edital.</p>
                            <p>Os candidatos com os laudos médicos não homologados não serão beneficiados com a reserva
                                de vagas para candidatos com deficiência. No entanto, retornarão a lista de candidatos
                                das vagas de Ampla Concorrência, respeitando-se a ordem decrescente da nota final e os
                                critérios de desempate.</p>


                        </div>


                    </div>




















                    <div class="tile verde-escuro" id="e2fd4aa3-0e5b-4ba7-a09c-56408fe90d89">


                        <div class="outstanding-header tile-content">




                            <a class="outstanding-link"
                                href="{% url 'processoseletivo' %}">Voltar</a>






                        </div>


                    </div>




                    {% include "processoseletivo/portal/footer.html" %}