{% include "processoseletivo/portal/header.html" %}














                    <div class="tile tile-default" id="f0a7c131-fde2-4cf8-a9a9-748526082af8">



                        <div class="spacer-tile tile-content" style="height: px">

                        </div>

                    </div>













                </div>








            </div>













            <div class="row">








                <div class="cell width-16 position-0 tile-default " data-panel="">










                    <div class="tile tile-default" id="fa2adee5-6015-4d51-b452-97ce10f7b970">



                        <div class="cover-richtext-tile tile-content">


                            <p><a class="external-link"
                                    href="{% url 'processoseletivo' %}" style=""
                                    target="_self" title="Edital"
                                    data-mce-href="{% url 'indexprocessoseletivo' %}"
                                    data-mce-style=""><img
                                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA1BMVEXy8vJkA4prAAAAC0lEQVQI12MgEQAAADAAAWV61nwAAAAASUVORK5CYII="
                                        title="T-EDITAL.png" data-mce-src="resolveuid/93a0d10f80aa48ce9303014528ed818a"
                                        data-mce-selected="1" alt="T-EDITAL.png" class="image-inline lazyload"
                                        data-src="https://portal.ifba.edu.br/processoseletivo2021/imagens/t-edital.png"></a>
                            </p>


                        </div>


                    </div>




















                    <div class="tile verde-escuro" id="bcae7cf3-eba1-435b-b571-9b80cce895d4">


                        <div class="outstanding-header tile-content">









                            <h2 class="outstanding-title">DESTAQUE - Sistema de reserva de vagas - Cotas</h2>












                            <a class="outstanding-link"
                                href="{% url 'indexprocessoseletivo' %}">Leia o texto completo no
                                EDITAL</a>























                        </div>


                    </div>




















                    <div class="tile tile-default" id="a0d58f92-19cf-4562-9cc4-3ca1fd2a2469">



                        <div class="cover-richtext-tile tile-content">


                            <p style="text-align: justify;" data-mce-style="text-align: justify;">Para os cursos
                                técnicos, o IFBA <strong>reserva 50% das vagas para estudantes que estudaram em escola
                                    pública.</strong><br></p>
                            <p style="text-align: justify;" data-mce-style="text-align: justify;">Somente poderão
                                concorrer a estas vagas os candidatos que:</p>
                            <p style="text-align: justify;" data-mce-style="text-align: justify;">- No caso dos <span
                                    class="underline" style="color: rgb(0, 0, 128);"
                                    data-mce-style="color: #000080;"><strong>Cursos Integrados e
                                        Concomitantes</strong></span></p>
                            <p style="text-align: justify;" data-mce-style="text-align: justify;">a) tenham
                                <strong>cursado integralmente o ensino fundamental em escolas públicas</strong>, em
                                cursos regulares ou no âmbito da modalidade de Educação de Jovens e Adultos;
                                ou<br><br>b) tenham obtido certificado de conclusão com base no resultado de Exame
                                Nacional para Certificação de Competências de Jovens e Adultos - ENCCEJA ou de exames de
                                certificação de competência ou de avaliação de jovens e adultos realizados pelos
                                sistemas estaduais de ensino.</p>
                            <p style="text-align: justify;" data-mce-style="text-align: justify;"><br></p>
                            <p style="text-align: justify;" data-mce-style="text-align: justify;">- No caso dos <span
                                    class="underline" style="color: rgb(0, 0, 128);"
                                    data-mce-style="color: #000080;"><strong>Cursos Subsequentes</strong></span></p>
                            <p>a) tenham <strong>cursado integralmente o Ensino Fundamental e o Ensino Médio em escolas
                                    públicas</strong>, em cursos regulares ou no âmbito da modalidade de Educação de
                                Jovens e Adultos; ou<br></p>
                            <p>b) tenham obtido certificado de conclusão com base no resultado de Exame Nacional para
                                Certificação de Competências de Jovens e Adultos - ENCCEJA ou de exames de certificação
                                de competência ou de avaliação de jovens e adultos realizados pelos sistemas estaduais
                                de ensino.</p>
                            <p><br></p>
                            <p><strong>IMPORTANTE:</strong></p>
                            <p style="text-align: justify;" data-mce-style="text-align: justify;"><span>Não poderão
                                    concorrer às vagas reservadas ao</span><span> Sistema de Cotas para estudantes de
                                    escolas públicas os estudantes que tenham, em algum momento, cursado parte do Ensino
                                    Fundamental ou do Ensino Médio em escolas particulares, ou que houver cursado
                                    disciplinas isoladas ou séries de Ensino Fundamental ou do Ensino Médio em Escolas
                                    Comunitárias</span><span> não gratuitas ou similares, ainda que tenham recebido
                                    bolsa de estudos.</span></p>
                            <p><br></p>
                            <p><span style="font-size: 12.8px; text-align: justify;"
                                    data-mce-style="font-size: 12.8px; text-align: justify;">-----------</span></p>
                            <p style="text-align: justify;" data-mce-style="text-align: justify;">A distribuição dessas
                                vagas reservadas segue os critérios a seguir:</p>
                            <p style="text-align: justify;" data-mce-style="text-align: justify;">a) Serão reservadas
                                50% (cinquenta por cento) das vagas aos estudantes de escolas públicas brasileiras
                                <strong>com renda bruta familiar igual ou inferior a 1,5 (um vírgula cinco)
                                    salário-mínimo per capita</strong>, distribuídas nas seguintes categorias:<br> <br>I
                                - 77% (setenta e sete por cento) aos candidatos que se autodeclarem pretos, pardos e
                                indígenas; <br>I-A - 9% aos candidatos que autodeclarem <strong>pretos, pardos ou
                                    indígenas com deficiência comprovada</strong>; <br>I-B - 91% aos candidatos que
                                autodeclarem <strong>pretos, pardos ou indígenas sem deficiência</strong>; <br><br>II -
                                23% (vinte e três por cento) aos demais candidatos que não se autodeclarem pretos,
                                pardos e indígenas. <br>II-A - 9% aos candidatos aos demais candidatos que <strong>não
                                    se autodeclarem pretos, pardos ou indígenas com deficiência comprovada</strong>;
                                <br>II-B - 91% os candidatos aos demais candidatos <strong>que não se autodeclarem
                                    pretos, pardos ou indígenas sem deficiência</strong>.</p>
                            <p style="text-align: justify;" data-mce-style="text-align: justify;">b) Serão reservadas
                                50% (cinquenta por cento) das vagas aos estudantes de escolas públicas brasileiras
                                <strong>com renda bruta familiar superior a 1,5 (um vírgula cinco) salário-mínimo per
                                    capita</strong>, distribuídas nas seguintes categorias: </p>
                            <p><span>I - 77% (setenta e sete por cento) aos candidatos que se autodeclarem pretos,
                                    pardos e indígenas; </span><br><span>I-A - 9% aos candidatos que autodeclarem
                                </span><strong>pretos, pardos ou indígenas com deficiência comprovada</strong><span>;
                                </span><br><span>I-B - 91% aos candidatos que autodeclarem </span><strong>pretos, pardos
                                    ou indígenas sem deficiência</strong><span>; </span><br><br><span>II - 23% (vinte e
                                    três por cento) aos demais candidatos que não se autodeclarem pretos, pardos e
                                    indígenas. </span><br><span>II-A - 9% aos candidatos aos demais candidatos que
                                </span><strong>não se autodeclarem pretos, pardos ou indígenas com deficiência
                                    comprovada</strong><span>; </span><br><span>II-B - 91% os candidatos aos demais
                                    candidatos </span><strong>que não se autodeclarem pretos, pardos ou indígenas sem
                                    deficiência</strong><span>.</span></p>
                            <p><br></p>
                            <p style="text-align: justify;" data-mce-style="text-align: justify;"><strong>Confira na
                                    imagem abaixo a distribuição de vagas no Processo Seletivo:</strong></p>
                            <p style="text-align: justify;" data-mce-style="text-align: justify;"><br></p>
                            <p style="text-align: left;" data-mce-style="text-align: left;"><a style="" target="_blank"
                                    title=""
                                    href="https://portal.ifba.edu.br/processoseletivo2021/arquivos-1/cotassimplificado.jpg"
                                    data-mce-href="resolveuid/a6065b16f7b7408e9f0351c3705857cd"
                                    class="internal-link"><img
                                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA1BMVEXy8vJkA4prAAAAC0lEQVQI12MgEQAAADAAAWV61nwAAAAASUVORK5CYII="
                                        alt="cotas simplificado"
                                        data-mce-src="resolveuid/a6065b16f7b7408e9f0351c3705857cd"
                                        class="image-inline lazyload" title="cotas simplificado"
                                        data-src="https://portal.ifba.edu.br/processoseletivo2021/arquivos-1/cotassimplificado.jpg"></a>
                            </p>
                            <p><br></p>
                            <p style="text-align: justify;" data-mce-style="text-align: justify;">A avaliação da
                                documentação comprobatória da renda familiar do candidato será realizada no ato da
                                matrícula, no caso de aprovação e convocação no Processo Seletivo.</p>
                            <p class=" "><strong>Referências:</strong> Lei nº 12.711/2012; Decreto 7.824/2012 e Portaria
                                nº 18/2012-MEC, com suas respectivas alterações.</p>


                        </div>


                    </div>













                </div>








            </div>













            <div class="row">








                <div class="cell width-16 position-0 " data-panel="">










                    <div class="tile verde-escuro" id="a6ed8deb-608c-4acd-ae9d-6f7f6dc51734">


                        <div class="outstanding-header tile-content">









                            <h2 class="outstanding-title">Código de reserva</h2>










                        </div>


                    </div>




                    <div class="tile tile-default" id="c4ed4499-4a64-40bc-bf5d-84a2c78d4354">



                        <div class="cover-richtext-tile tile-content">


                            <p>Entenda o que é o <strong>Cód. reserva</strong> (código de reserva) <br><span
                                    class="discreet"></span></p>
                            <p><span><span class="discreet">No ato da matrícula você deverá apresentar a documentação
                                        correspondente ao código disponível no seu resultado.
                                        <br><br></span></span><strong>A - </strong>Ampla Concorrência</p>
                            <p><strong>B - </strong>Pessoa com Deficiência (PCD)</p>
                            <p><strong>R1 - </strong>Candidatas/os de escola pública, com renda igual ou inferior a 1,5
                                salário mínimo, que se autodeclarem pretos, pardos ou indígenas com deficiência
                                comprovada</p>
                            <p><strong>R2 - </strong>Candidatas/os de escola pública, com renda igual ou inferior a 1,5
                                salário mínimo, que se autodeclarem pretos, pardos ou indígenas sem deficiência</p>
                            <p><strong>R3 - </strong>Candidatas/os de escola pública, com renda igual ou inferior a 1,5
                                salário mínimo, que não se autodeclarem pretos, pardos ou indígenas com deficiência
                                comprovada</p>
                            <p><strong>R4 -</strong> Candidatas/os de escola pública, com renda igual ou inferior a 1,5
                                salário mínimo, que não se autodeclarem pretos, pardos ou indígenas sem deficiência</p>
                            <p><strong>R5 - </strong>Candidatas/os de escola pública, com renda maior que 1,5 salário
                                mínimo, que se autodeclarem pretos, pardos ou indígenas com deficiência comprovada</p>
                            <p><strong>R6 - </strong>Candidatas/os de escola pública, com renda maior que 1,5 salário
                                mínimo, que se autodeclarem pretos, pardos ou indígenas sem deficiência</p>
                            <p><strong>R7 - </strong>Candidatas/os de escola pública, com renda maior que 1,5 salário
                                mínimo, que não se autodeclarem pretos, pardos ou indígenas com deficiência comprovada
                            </p>
                            <p><strong>R8 -</strong> Candidatas/os de escola pública, com renda maior que 1,5 salário
                                mínimo, que não se autodeclarem pretos, pardos ou indígenas sem deficiência</p>


                        </div>


                    </div>













                </div>








            </div>













            <div class="row">








                <div class="cell width-16 position-0 " data-panel="">










                    <div class="tile verde-escuro" id="bffc32fb-593c-443d-8b3d-c87f07735c14">


                        <div class="outstanding-header tile-content">




                            <a class="outstanding-link"
                                href="https://portal.ifba.edu.br/processoseletivo2021/edital/">Voltar</a>























                        </div>


                    </div>



                    {% include "processoseletivo/portal/footer.html" %}