{% extends "admin/change_form.html" %}
{% load admin_static i18n admin_modify admin_urls %}

{% block extrahead %}
    {{ block.super }}
    <script src="{% static 'ps/js/script_ps.js' %}"></script>
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'ps/css/style_admin.css' %}">
{% endblock %}

{% block object-tools-items %}
    <ul>{% if not original.chamadas.all %}
            {% if not original.encerrada %}
                <li><a class="link_span" href="{% url 'adicionar_chamadas' object_id %}">Gerar chamadas</a></li>
            {% endif %}
        {% else %}
            <li role="presentation" class="dropdown">
                <a class="link_span dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                   aria-expanded="false">
                    Gerar Relatórios <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'relatorio_convocados' object_id %}">
                        Contato dos Convocados (.xls)</a></li>
                    <li>
                      <a href="{% url 'relatorio-convocados-por-cota' object_id %}">Convocados por cota (.pdf)</a>
                    </li>
                    {% if original.encerrada %}
                        <li><a href="{% url 'relatorio_matriculados' object_id %}">
                            Contato dos Matriculados (.xls)</a></li>{% endif %}
                    {% if original.analise_documentacao_gerenciada %}
                        <li><a href="{% url 'gerar_lista_analise_documental' object_id %}">
                            Resultado da Análise da Documentação (.pdf)</a></li>{% endif %}
                    {% if original.encerrada %}
                        <li><a href="{% url 'gerar_listagem_final_deferidos' object_id %}">
                            Resultado Final - Deferidos (.pdf)</a></li>
                        <li><a href="{% url 'gerar_listagem_final_indeferidos' object_id %}">
                            Resultado Final - Indeferidos (.pdf)</a></li>
                        <li><a href="{% url 'gerar_listagem_final_excedentes' object_id %}">
                            Resultado Final - Excedentes (.pdf)</a></li>
                    {% endif %}
                </ul>
            </li>
            {% if original.encerrada %}
                <li><a class="link_span" href="{% url 'reabrir_etapa' object_id %}">Reabrir etapa</a></li>
            {% else %}
                <li><a class="link_span" href="{% url 'encerrar_etapa' object_id %}">Encerrar etapa</a></li>
            {% endif %}

        {% endif %}
        {% if has_absolute_url %}
            <li><a href="{{ absolute_url }}" target="_blank">{% trans "View on site" %}</a></li>
        {% endif %}
    </ul>
{% endblock %}

