{% extends "psct/base/display_form.html" %}
{% load base_tags %}

{% block pre_form %}

    {% box 'Dados do Recurso' True %}
    <div class="table-responsive">
        <table class="table table-striped table-condensed">
            <tbody>
            <tr>
                <td><b>Fase de Recurso:</b></td>
                <td>{{ recurso.fase }}</td>
            </tr>
            <tr>
                <td><b>Edital:</b></td>
                <td>{{ recurso.fase.edital }}</td>
            </tr>
            <tr>
                <td><b>Texto do Recurso:</b></td>
                <td>{{ recurso.texto|linebreaks }}</td>
            </tr>
            <tr>
                <td class="col-xs-3"><b>Cadastrado por:</b></td>
                <td>{{ recurso.usuario.get_full_name }} ({{ recurso.usuario }})</td>
            </tr>
            <tr>
                <td><b>Data de criação:</b></td>
                <td>{{ recurso.data_cadastro }}</td>
            </tr>
            <tr>
                <td><b>Data da última atualização:</b></td>
                <td>{{ recurso.data_atualizacao }}</td>
            </tr>

            </tbody>
        </table>
    </div>
    {% endbox %}

    {% box 'Dados da Inscrição' %}
        {% with inscricao=recurso.inscricao %}
            {% include "psct/inscricao/dadosinscricao.html" %}
        {% endwith %}
    {% endbox %}

    {% with inscricao=recurso.inscricao %}
        {% include "psct/recurso/ajustepontuacao_embedded.html" %}
    {% endwith %}

    <h3 class="verde-escuro">Parecer</h3>
    <p></p>

{% endblock %}