{% extends "psct/base.html" %}
{% load base_tags recurso_tags %}

{% block conteudo %}
    <h2 class="titulo verde-escuro">Parecer #{{ object.id }}</h2>

    <div>
        <div class="table-responsive">
            <table class="table table-striped table-condensed">
                <tbody>
                <tr>
                    <td><b>Texto do Parecer:</b></td>
                    <td>{{ object.texto|linebreaks }}</td>
                </tr>
                <tr>
                    <td><b>Recurso aceito:</b></td>
                    <td>{{ object.aceito|aceito_format }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#impetrante">Dados do Candidato</a></li>
        <li><a data-toggle="tab" href="#inscricao">Dados da Inscrição</a></li>
    </ul>

    <div class="tab-content">
        <div id="impetrante" class="tab-pane fade in active">
            <div class="table-responsive">
                <table class="table table-striped table-condensed">
                    <tbody>
                    <tr>
                        <td class="col-xs-2"><b>Usuário:</b></td>
                        <td>{{ object.recurso.usuario }}</td>
                    </tr>
                    <tr>
                        <td><b>Nome:</b></td>
                        <td>{{ object.recurso.inscricao.candidato.nome }}</td>
                    </tr>
                    <tr>
                        <td><b>CPF:</b></td>
                        <td>{{ object.recurso.inscricao.candidato.cpf }}</td>
                    </tr>
                    <tr>
                        <td><b>Telefone:</b></td>
                        <td>{{ object.recurso.inscricao.candidato.telefone }}</td>
                    </tr>
                    <tr>
                        <td><b>E-mail:</b></td>
                        <td>{{ object.recurso.inscricao.candidato.email }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div id="inscricao" class="tab-pane fade">
            <div class="table-responsive">
                <table class="table table-striped table-condensed">
                    <tbody>
                    <tr>
                        <td class="col-xs-6 col-sm-4 col-md-3"><b>Campus:</b></td>
                        <td>{{ object.recurso.inscricao.curso.campus }}</td>
                    </tr>
                    <tr>
                        <td><b>Modalidade de ensino:</b></td>
                        <td>{{ object.recurso.inscricao.curso.get_formacao_display }}</td>
                    </tr>
                    <tr>
                        <td><b>Curso:</b></td>
                        <td>{{ object.recurso.inscricao.curso.curso.nome }}</td>
                    </tr>
                    <tr>
                        <td><b>Turno:</b></td>
                        <td>{{ object.recurso.inscricao.curso.get_turno_display }}</td>
                    </tr>
                    <tr>
                        <td><b>Concorre por cota:</b></td>
                        <td>
                            {% if not object.recurso.inscricao.is_ampla_concorrencia %}
                                Sim
                            {% else %}
                                Não
                            {% endif %}
                        </td>
                    </tr>
                    {% if not object.recurso.inscricao.is_ampla_concorrencia %}
                        <tr>
                            <td><b>Modalidade de cota:</b></td>
                            <td>{{ object.recurso.inscricao.modalidade_cota }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>




{% endblock %}